# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.HoloPicker_Unity.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\marle\Documents\HoloPicker_Unity\.idea\.idea.HoloPicker_Unity\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
